$color-black: #000;
$color-gray-1: #333;
$color-gray-2: #BDBDBD;
$color-gray-3: #FAFAFA;
$color-gray-4: #828282;
$color-gray-5: #E0E0E0;
$color-gray-6: #4328103D;
$color-green: #009900;
$color-green-active: #0099008d;
$color-rosegold: #F8F1EB;
$color-beige: #e9d6c5;
$color-orange: #DC624E;
$color-white: #FFF;
$color-white-2: #F2F2F2;

$color-text-primary: $color-gray-1;
$color-text-secondary: $color-gray-2;
$background-color-default: $color-rosegold;