@import '../../scss/main.scss';

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    h1 {
        color: $color-gray-1;
    }
    &__containerForm {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 5.172rem 5.5rem 5rem 15.1rem;
        width: 845px;
    }
    &__containerSummary {
        background-color: $color-white;
        width: 595px;
    }
}

