@import '../../scss/main.scss';

.footer {
    width: 100%;
    min-height: 5.4rem;
    background-color: $color-orange;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 1.5rem 7.6rem 1.6rem 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__icon {
        width: 10.8rem;
        height: 2.3rem;
        background-image: url('../../images/logoipsum.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 2.9rem;
        cursor: pointer;
    }
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            margin-right: 3.2rem;
            font-size: $font-size-secondary;
            font-family: $font-family-primary;
            color: $color-white;
            font-weight: 100;
            opacity: 0.6;
            letter-spacing: 0.1rem;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
        }
   }
   span{
       margin-left: auto;
       font-size: $font-family-secondary;
       font-family: $font-family-primary;
       color: $color-white;
       font-weight: 400;
       opacity: 0.6;
       letter-spacing: 0.1rem;
   }
}

@media (max-width: $breakpoint-HD) {
    .footer {
        padding: 1.5rem 2.5rem 1.6rem 2.5rem;
        flex-direction: column;
        &__icon {
            width: 18.3rem;
            height: 3.9rem;
            margin-right: 0rem;
            margin-bottom: 2.5rem;
        }
        ul {
            margin-bottom: 2.5rem; 

            li {
                margin-right: 1.3rem;
                
                &:last-child{
                    margin-right: 0;
                }
            }
       }
       span{
           margin-left: 0;
       }
    }
  }